# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Create Markdown cells
- Create and Execute Code cells
- List popular languages for Data Science
- Perform simple arithmetic

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas

| Data Science Tools |
|--------------------|
| R Studio |
| Jupyter Notebook |
| Anaconda |

### Below are few examples of evaluating arithmetic expression examples

In [4]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by dividing minutes by 60
200/60

3.3333333333333335

## Author
FS HUE (19 Dec 2023)